#home
{
    font-size:xx-large;
    font-family: Gentium Book Basic;
    text-align: center;
    background-color: silver;
}
#booking
{
    background-color: #286090;
    color : white;
}
#messageLogIn
{
    color : red;
    text-align: center;
}
#errorLogin{
    display : none;
}