#home {
    font-size:xx-large;
    font-family: Gentium Book Basic;
    text-align: center;
    background-color: silver;
}
#booking {
    background-color: #286090;
    color : white;
}
#errorLogin{
    display : none;
}
hr {
    border-top: 1px solid #8c8b8b;
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 30px; 
}
hr:after {
    content: 'Help-Taxi';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    border: yellow 1px solid;
}
.navbar-brand {
 padding: 0px;
}
.navbar-brand>img {
 height: 100%;
 width: auto;
}
textarea{
    resize: none;
    height: 75px;
    width: 100%;
}
.comment{
    padding-top: 5px;
    margin-bottom: 20px;
    background-color: #56a6ff;
}
.borderComment{
    padding-left: 5px;
    border: 3px solid #56a6ff;
    background-color: white;
    height: 100px;
    border-top: 0;
}